yarn-error.log
yarn.lock

test/
**/*.test.*
**/types.ts
**/errors.ts
tsconfig.json
coverage/

.github
.vitebook
node_modules
src
storybook-static

.editorconfig
.gitignore
.tool-versions
makefile
package-lock.json
postcss.config.js
tailwind.config.js
tsconfig.build.json
tsconfig.json
tsconfig.node.json
vite.config.ts
vitest.config.ts