yarn-error.log
yarn.lock

test/
**/*.test.*
**/*.spec.*
**/types.ts
**/errors.ts
tsconfig.json
coverage/

.editorconfig
.github
.gitignore
.prettierrc.yaml
.storybook
.tool-versions
.vitebook
.vscode

makefile
node_modules
package-lock.json
pnpm-lock.yaml
postcss.config.cjs
src
storybook-static
tailwind.config.cjs
tsconfig.build.json
tsconfig.json
tsconfig.node.json
vault
vite.config.ts
vitest.config.ts